Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of that data. Databases are used to store various types of information, ranging from simple lists to complex data structures, and are a fundamental component of many software applications.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two broad categories of database management systems, each with its own characteristics and use cases:

SQL Databases:
SQL databases are relational databases that use structured query language (SQL) to define, manage, and manipulate data. These databases store data in tables with rows and columns, and the relationships between different tables are established through keys (usually primary and foreign keys).

Key Characteristics:

Schema: SQL databases have a fixed schema that defines the structure of the data before data entry.

Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.


NoSQL Databases:
NoSQL databases are a diverse group of databases that do not rely on a fixed schema and are designed to handle large amounts of unstructured or semi-structured data. They offer high scalability and performance, making them suitable for applications with rapidly changing requirements and large volumes of data.

Key Characteristics:

Schema : NoSQL databases allow for dynamic schema changes, making it easier to adapt to evolving data needs.
Scalability: These databases are designed for horizontal scalability, allowing them to handle massive amounts of data and high traffic loads.

Types: There are several types of NoSQL databases, including document stores, key-value stores, column-family stores, and graph databases.
Examples: MongoDB (document store), Cassandra (column-family store), Redis (key-value store), Neo4j (graph database).

Q2 -What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for "Data Definition Language," which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database and its objects, such as tables, indexes, and constraints. DDL statements are used to create, modify, or delete database objects and their characteristics.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, and views. It defines the structure and properties of the object being created.

Example: Creating a new table named "Students" with columns for Student information.

In [ ]:
CREATE TABLE Students(
    RollNo INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(50),
    CourseName VARCHAR(50),
    DATEOfJoining DATETIME
);

DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, or views. This action permanently removes the object and its associated data.

Example: Dropping the "Employees" table to remove it from the database.

In [ ]:
DROP Table Employees;

ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns in a table


Example: Altering "FirstName" named with "Name" to the "Employees" table.

In [ ]:
ALTER TABLE Employees
    CHANGE FirstName Name VARCHAR(50)

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table quickly. It is more efficient than using the DELETE statement to remove all rows because it deallocates the space used by the data without logging individual row deletions.


Example -  Truncating the data in the "Students" table.

In [ ]:
TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for "Data Manipulation Language," which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements are used to perform operations such as inserting, updating, and deleting data within the database tables

INSERT:
The INSERT statement is used to add new rows of data into a table. It specifies the table name and the values to be inserted into the columns.

Example - Inserting a new Student record into the "Students" table.

In [ ]:
INSERT INTO Students VALUES (2,"Harsh","Python","2022-12-06 05:52:23");

UPDATE:
The UPDATE statement is used to modify existing records in a table. It specifies the table name, the columns to be updated, and the new values.


Example: Updating the Name of an Student with RollNO 2 in the "Students" table.

In [ ]:
UPDATE Students SET Name = "Anmol"  WHERE RollNo = 2;

DELETE:
The DELETE statement is used to remove rows from a table based on specified conditions. It specifies the table name and the conditions that must be met for rows to be deleted.
Example: Deleting an Student record from the "Students" table with RollNo 2.

In [ ]:
DELETE FROM `Students` WHERE `RollNo` = 2;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for "Data Query Language," which is a subset of SQL (Structured Query Language) used for retrieving data from a database. DQL statements are primarily focused on querying the database to retrieve specific information based on specified criteria. The most common DQL statement is the SELECT statement, which is used to retrieve data from one or more tables.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It specifies the columns to be retrieved and the table(s) from which the data should be retrieved. It can also include various clauses to filter, sort, and manipulate the data.

Example - selecting all data from Students table

In [ ]:
select * from Students;

Additionally, the SELECT statement can include various other clauses such as:

ORDER BY: Sorts the result set based on specified columns and sort orders.
GROUP BY: Groups rows with identical values in specified columns into summary rows.
HAVING: Filters the result of a GROUP BY operation based on specified conditions.
DISTINCT: Removes duplicate rows from the result set.
Aggregate functions like SUM, AVG, COUNT, MIN, and MAX: Perform calculations on selected columns.

Q5. Explain Primary Key and Foreign Key.


Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table. It serves as a unique identifier for each record and ensures that no two records have the same primary key value. Primary keys are used to enforce data integrity, facilitate efficient data retrieval, and establish relationships between tables.

Each table in a relational database should have a primary key.
The values of the primary key must be unique and not null.

Example:
Consider a "Students" table with columns StudentID, FirstName, LastName, and DateOfBirth. If StudentID is chosen as the primary key, each student will have a unique StudentID value. No two students can share the same StudentID.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link between data in two tables. It creates a relationship between the data in one table (child table) and the data in another table (parent table). The foreign key in the child table references the primary key in the parent table, creating a connection between the two tables.

Foreign keys are used to establish relationships between tables in a relational database.
They maintain referential integrity by ensuring that the values in the foreign key column(s) of the child table correspond to values in the primary key column(s) of the parent table.


Example:
Continuing with the "Students" example, let's say we have a separate "Courses" table with columns CourseID, CourseName, and Instructor. To establish a relationship between the "Students" and "Courses" tables, we can add a foreign key column StudentID in the "Courses" table that references the StudentID primary key in the "Students" table. This would allow us to track which students are enrolled in which courses.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


To connect Python to MySQL, you'll need to use a library like mysql-connector-python. This library provides the necessary tools to establish a connection and interact with a MySQL database from your Python code.

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
  host = "localhost",
  user = "abc",
  password ="password"
)
mycursor = connection.cursor()
mycursor.execute("select * from Pwskills.Students")
for i in mycursor.fetchall():
  print(i)
connection.close

cursor(): The cursor() method creates a cursor object that is used to execute SQL queries and fetch results from the database.

execute(query): The execute() method is used to execute an SQL query. You pass the query string as an argument. In this example, we're executing a simple SELECT query to retrieve all records from the "Students" table.

Q7. Give the order of execution of SQL clauses in an SQL query.


The order of execution of SQL clauses in an SQL query generally follows these main steps:

FROM: The FROM clause specifies the tables involved in the query. It defines the source tables from which the data will be retrieved.

JOIN: If applicable, the JOIN clauses are used to combine data from multiple tables based on specified conditions.

WHERE: The WHERE clause filters the rows based on specified conditions. It narrows down the data retrieved from the tables.

GROUP BY: If applicable, the GROUP BY clause is used to group rows with similar values in specified columns. This is often used with aggregate functions like SUM, COUNT, etc.

HAVING: The HAVING clause filters the grouped rows based on specified conditions. It acts similar to the WHERE clause but operates on grouped results.

SELECT: The SELECT clause specifies the columns to be retrieved from the tables. It also calculates any expressions or transformations on the selected columns.

DISTINCT: If applicable, the DISTINCT keyword eliminates duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns and sort orders.

LIMIT/OFFSET: If supported by the database system, the LIMIT and OFFSET clauses restrict the number of rows returned and allow for pagination.

It's important to note that not all clauses are mandatory in every SQL query, and their usage depends on the specific requirements of the query. The order of execution ensures that the data is filtered, combined, and transformed in a logical sequence to produce the desired result set.